@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f7f7f7;
}

#root {
  width: 100%;
}

@theme {
  --color-primary: #000000;
  --color-secondary: #222222;
  --color-accent: #276EF1;
}